<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="threejs-tab" data-toggle="tab" href="#threejs" role="tab"
                        aria-controls="threejs" aria-selected="true">3D</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                        aria-controls="overview" aria-selected="false">Overview</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="threejs" role="tabpanel" aria-labelledby="threejs-tab">
                        {{template "threejs.html" . }}
                </div>
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        {{template "overview.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>